fastapi
uvicorn
pydantic
langchain
chromadb
pypdf
tiktoken
openai
pandas
sentence-transformers
sqlalchemy
passlib[bcrypt]
python-multipart
torch
faiss-cpu
PyMuPDF
numpy
scikit-learn
python-docx
python-pptx
openpyxl
